.overlay {
  background: #310b0b80;
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100vh;
  position: fixed;
  transition: 0.4s;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  /* overflow-y: scroll; */
  z-index: 1000;
}

.wrapper {
  position: relative;
  z-index: 1;
  background-color: #00050c;
  padding: 2rem 1rem;
  max-width: 400px;
  color: #ffffff99;
  font-size: 0.7rem;
}

.overlay2 {
  /* background: #7B548D4D; */
  /* backdrop-filter: blur(1px); */
  width: 100%;
  height: 100vh;
  position: fixed;
  transition: 0.4s;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.btn {
  width: 100%;
  height: 44px;
  background: #FF1515;
  border-radius: 5px;
  font-weight: 600;
  color: #fff;
  font-size: 0.8rem;
}

.overlay3 {
background: #310b0b80;
  max-width: 400px;
  height: 400px;
  margin: auto auto;
  position: fixed;
  transition: 0.4s;
  backdrop-filter: blur(2px);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
