.profileContainer {
  width: 100%;
  padding: 2rem 1rem;
  background: linear-gradient(
    114.51deg,
    #29013f -0.17%,
    rgba(60, 22, 82, 0.53) 129.2%
  );
  border: 1px solid #ce3dd8;
  border-radius: 8px;
  /* overflow: scroll; */

}
.profileContainer > * + * {
  margin-top: 1rem;
}
