.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* max-width: 300px; */
}

.box {
  border-radius: 0.76481rem;
  border: 2.447px solid #ff1515;
  /* background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5) -171.91%,
    rgba(255, 255, 255, 0.1) 99.87%
  ); */
  display: flex;
  flex-direction: column;
  max-width: 4.58888rem;
  /* height: 4.58888rem; */
  padding: 0.38238rem 0.76481rem;
  justify-content: center;
  align-items: center;
  /* gap: 0.38238rem; */
}

.value {
  font-size: 2rem;
}
/* 
.label{
    margin-right: 1rem; 
    margin-top: 1rem;
} */

@media screen and (min-width: 965px) {
  .box {
    border-radius: 1.25rem;
    border: 4px solid #ff1515;
    /* background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.5) -171.91%,
      rgba(255, 255, 255, 0.1) 99.87%
    ); */
    display: flex;
    max-width: 7.5rem;
    /* height: 7.5rem; */
    padding: 1rem 2rem;
    /* justify-content: center; */
    /* align-items: center; */
    /* gap: 0.625rem; */
  }
}
